.App {
  text-align: center;
}

.App-header {
  background-color: red;
  padding: 20px;
}

.banner {
  display: flex;
  align-items: center;
}

.image {
  width: 30px;
  height: 60px;
  margin-right: 10px;
}
